<div class="form-group">
<div class="input-field">
  <label for="campTitle">Campground name</label>
  <input type="text" class="form-control" name="campTitle" value="<%= campsite.properties.title %>">
</div>
<div class="input-field myTextarea">
  <label for="comment">Description</label>
  <textarea type="text" class="form-control" rows="2" name="description" value="<%= campsite.properties.description %>"></textarea>
</div>
<div class="input-field">
  <label for="lng">Longititude</label>
  <input type="number" step="any" class="form-control" name="lng" value="<%= campsite.geometry.coordinates[0] %>">
</div>
<div class="input-field">
  <label for="lat">Latitude</label>
  <input type="number" step="any" class="form-control" name="lat" value="<%= campsite.geometry.coordinates[1] %>">
</div>
<div class="input-field">
  <label for="state">State</label>
  <input type="text" class="form-control" name="state" value="<%= campsite.properties.address.state %>">
</div>
<div class="input-field">
  <label for="streetAddress">Street Address</label>
  <input type="text" class="form-control" name="streetAddress" value="<%= campsite.properties.address.streetAddress %>">
</div>
<div class="input-field">
  <label for="petsAllowed">Pets Allowed</label>
  <input type="text" class="form-control" name="petsAllowed" value="<%= campsite.properties.petsAllowed %>">
</div>
<div class="input-field">
  <label for="waterFront">Water Front</label>
  <input type="text" class="form-control" name="waterFront" value="<%= campsite.properties.waterFront %>">
</div>
<div class="input-field">
  <label for="driveway">Car Camping</label>
  <input type="text" class="form-control" name="driveway" value="<%= campsite.properties.driveway %>">
</div>
</div>
