<div class="formWrapper">
  <div class="form-group">
    <div class="input-field">
      <input type="text" class="form-control" name="title" value="<%= campsite.title %>">
      <label for="title">Campground name</label>
    </div>
    <div class="input-field">
      <input type="text" class="form-control" name="address" value="<%= campsite.address %>">
      <label for="address">Address</label>
    </div>
    <div class="input-field">
      <input type="text" class="form-control" name="state" value="<%= campsite.state %>">
      <label for="state">State</label>
    </div>

    <label for="completed">Pets Allowed</label>
    <input type="checkbox" class="form-control" name="completed" <%= campsite.petsAllowed ? 'checked' : '' %> >
    <label for="completed">Water Front</label>
    <input type="checkbox" class="form-control" name="completed" <%= campsite.waterfront ? 'checked' : '' %> >
  </div>
</div>
