<div class="formWrapper">
  <div class="form-group">
    <div class="input-field">
      <input type="text" class="form-control" name="campTitle" value="<%= campsite.properties.title %>">
      <label for="campTitle">Campground name</label>
    </div>
    <div class="input-field">
      <input type="text" class="form-control" name="url" value="<%= campsite.properties.url %>">
      <label for="title">Website</label>
    </div>
    <div class="input-field myTextarea">
      <label for="comment">Description</label>
      <textarea type="text" class="form-control" rows="5" name="description" value="<%= campsite.properties.description %>"></textarea>
    </div>
    <div class="input-field">
      <input type="text" class="form-control" name="city" value="<%= campsite.properties.address.city %>">
      <label for="city">City</label>
    </div>
    <div class="input-field">
      <input type="text" class="form-control" name="state" value="<%= campsite.properties.address.state %>">
      <label for="state">State</label>
    </div>
    <div class="input-field">
      <input type="text" class="form-control" name="streetAddress" value="<%= campsite.properties.address.streetAddress %>">
      <label for="streetAddress">Street Address</label>
    </div>
    <div class="input-field">
      <input type="text" class="form-control" name="zip" value="<%= campsite.properties.address.zip %>">
      <label for="zip">Zip Code</label>
    </div>
    <label for="petsAllowed">Pets Allowed</label>
    <input type="checkbox" class="form-control" for="petsAllowed" <%= campsite.properties.petsAllowed ? 'Y' : 'N' %> >
    <label for="waterFront">Water Front</label>
    <input type="checkbox" class="form-control" for="waterFront" <%= campsite.properties.waterfront ? 'Y' : 'N' %> >
    <label for="driveway">Car Camping</label>
    <input type="checkbox" class="form-control" name="driveway" <%= campsite.properties.driveway ? 'Y' : 'N' %> >
  </div>
</div>
