<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="mapNav">
      <div class="searchOptions">
        <a href="/campsites/new" class="btn btn-primary">New</a>
      </div>
      <div class="campView">
        <% campsites.forEach(function(campsite) { %>
          <div id="<%= campsite.properties.facilityID %>" class="card horizontal scrollspy">
            <div class="card-stacked">
              <div class="card-content">
                <form method="POST" action="/campsites/<%= campsite._id %>?_method=DELETE">
                  <p><b>
                   <%= campsite.properties.title %>
                  </b></p>
                  <% if (campsite.properties.creator === currentUser.id) { %>
                  <button type="submit" class="btn-floating red btnDelete">X</button>
                  <% } %>
                </form>
              </div>
              <div class="card-action">
                <a href="/campsites/<%= campsite._id %>">Details</a>
                <span>
                  <% if (currentUser.visited.includes(campsite._id)) { %>
                    <input type="checkbox" onclick="siteVisited(<%= campsite._id %>);" id="<%= campsite._id %>" checked/>
                  <% } else { %>
                    <input type="checkbox" onclick="siteVisited(<%= campsite._id %>);" id="<%= campsite._id %>"/>
                  <% } %>
                  <label for="<%= campsite._id %>">Visited</label>
                </span>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
      <div class="mapPagination">
      </div>
      <div id="map">
  </main>
</body>
<script src="/javascript/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAA9RjK1isGo3o1zfyxm--J3RhU3teFl1E&callback=initMap">
</script>
<% include ../partials/scripts %>
</html>
