<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body>
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="mapNav">
      <div class="searchOptions">
        <div class="input-group">
        <form class="search-form" action="/campsites/" method="GET">
          <div class="form-group">
          <input id="searchField" type="text" class="form-control" name="title" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
            <a href="/campsites/new" class="btn btn-success btnNew">New</a>
          </span>
          </div>
        </form>
        </div>
      </div>
      <div class="campView">
        <% campsites.forEach(function(campsite) { %>
          <div id="<%= campsite.properties.facilityID %>" class="card scrollspy">
            <div class="card-stacked">
              <div class="card-content">
                <form method="POST" action="/campsites/<%= campsite._id %>?_method=DELETE">
                  <p><b>
                   <%= campsite.properties.title %>
                  </b></p>
                  <% if (campsite.properties.creator === currentUser.id) { %>
                  <button type="submit" class="btn-floating red btnDelete">X</button>
                  <% } %>
                  <hr>
                </form>
              </div>
              <div class="card-action">
                <a href="/campsites/<%= campsite._id %>">Details</a>
                <span>
                  <a class="visitCheck" href="/campsites/<%= campsite._id %>/toggle">
                  <% if (currentUser.visited.indexOf(campsite._id) >= 0) { %>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span><p> Visited</p>
                  <% } else { %>
                    <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span><p> Visited</p>
                  <% } %>
                </a>
                </span>
              </div>
            </div>
          </div>
        <% }) %>
        <div class="emptySpace"></div>
      </div>
      <div class="mapPagination">
        <nav class="paginationSize" aria-label="Page navigation">
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      </div>
      <div id="map"></div>
  </main>
</body>
<script>
  var title = "<%= title %>";
</script>
<script src="/javascript/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAA9RjK1isGo3o1zfyxm--J3RhU3teFl1E&callback=initMap">
</script>
<% include ../partials/scripts %>
</html>
